:root{
  /* --mainColor1:rgb(0, 204, 255); */
  --mainColor1:rgb(83, 59, 215);
  --mainColor1O:rgba(83, 59, 215,.5);
  /* --mainColor1O:rgba(0, 204, 255,.5); */
  --mainColor2:#FFA500;
  --textColor:black;
}

body{
  min-width: 900px
}

*{
  padding: 0;
  margin: 0;
  font: 1em '微软雅黑';
}
td>a {
  text-decoration: none;
  color: var(--textColor);
  display: inline-block;
  width: 100px;
  height: 25px;
  overflow: hidden;
  background-color: var(--mainColor1O);
  text-align: center;
  border-radius: 4px;
  transition: .3s;
  margin-left: 5px;
  margin-bottom: 5px;
}

img {
  margin: 0 auto;
  height: 25px;
}

.kuan {
  display: inline-block;
  width: 180px;
}

.gao {
  display: inline-block;
  height: 8vh;
}

.one {
  background-image: url(img/b91090aad1b643dba3ee49b75030ae77.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}

a{
  background-color: var(--mainColor1O);
  border-radius: 4px;
  width: 100px;
  height: 25px;
  display: inline-block;
  text-align: center;
}

a:hover {
  background-color: var(--mainColor2);
  box-shadow: 1px 1px 3px var(--mainColor1),-1px -1px 5px var(--mainColor1);
}
/* 被点击时 */
a:active{
  transform: scale(0.98);
  transition: all .4s ;
}



.photo{
  display: inline-block;
  border-radius: 4px;
}

/* 左边边框 */
.lfbd{
  float: right;
}



/* 右上角换固定色彩蛋 */
.changeMainColor{
  position: fixed;
  top: 0;
  right:0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* 右下角换随机色彩蛋 */
.randomMainColor{
  position: fixed;
  bottom: 0 ;
  right:  0px;
  width: 50px;
  height: 50px;
  cursor: pointer;

}


/* 天气板块 */
.container_1h{
  width: 460px;
  height: 140px;
  border-radius: 10px;
  background-color: var(--mainColor1O);
  position: fixed;
  top: 113px;
  right: -462px;
  transition: all .5s ease;
}
.container_1h.open{
  right: 5px;
  box-shadow: 2px 2px 3px var(--mainColor2),-2px -2px 5px var(--mainColor2);
}
/* 1h开关 */
.container_1h .open1h{
  display: inline-block;
  position: relative;
  width: 12px;
  left: -20px;
  top: 20px;
  color: var(--textColor);
  background-color: var(--mainColor1O);
  border-radius: 4px ;
  cursor: pointer;
  transition: .3s;
}
.container_1h .open1h:hover{
  background-color: var(--mainColor2);
  box-shadow: 1px 1px 3px var(--mainColor1),-1px -1px 5px var(--mainColor1);
}

.container_24h{
  width: 461px;
  border-radius: 10px;
  background-color: var(--mainColor1O);
  position: fixed;
  top: 275px;
  right: -462px;
  transition: all .5s ease;
}
.container_24h.open{
  right: 5px;
  box-shadow: 2px 2px 3px var(--mainColor2),-2px -2px 5px var(--mainColor2);
}

/* 24h开关 */
.container_24h .open24h{
  position: relative;
  width: 12px;
  left: -20px;
  top: 20px;
  color: var(--textColor);
  background-color: var(--mainColor1O);
  border-radius: 4px ;
  cursor: pointer;
  transition: .3s;

}
.container_24h .open24h:hover{
  background-color: var(--mainColor2);
  box-shadow: 1px 1px 3px var(--mainColor1),-1px -1px 5px var(--mainColor1);
}
.weather .weather_header{
  width: 100px;
  text-align: center;
  margin: 0px auto;
  border-radius: 4px;

  color: var(--textColor);

}

.weather table {
  color: var(--textColor);
  margin: 0 auto;
  border-radius: 10px;
}

.weather thead,
.weather th,
.weather td {
  text-align: center;
  padding: 10px;
}


/* 旋转动画 */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #333;
  color: #222;
  overflow: hidden;
  margin: 0;
}

.one {
  background-color: var(--textColor);
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  /* height: 100vh; */
  padding: 50px;
}

.one.show-nav {
  transform: rotate(-20deg)
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  /* opacity: .2; */
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.one.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color:   var(--mainColor1O);
  transition: .3s;
}

.circle button:focus {
  outline: none;
}


.circle button:hover {
  outline: none;
}

.circle  .fas:hover{
  color: var(--mainColor2);
  transform: rotate(180deg);
  transition:  .5s;
  text-shadow: 1px 1px 3px var(--mainColor1),-1px -1px 5px var(--mainColor1);
}
.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.one.show-nav+nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}


nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: var(--textColor);
  margin: 40px 0;
  transform: translateX(-120%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li+li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li+li+li {
  margin-left: 30px;
  transform: translateX(-200%);
}

nav a {
  color: var(--textColor);
  text-decoration: none;
  transition: all 0.3s;
}

nav a:hover {
  display: inline-block;
  border-radius: 4px;
}